<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebCatalogProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CatalogServlet</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.CatalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/Catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToBasketServlet</display-name>
    <servlet-name>AddToBasketServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.AddToBasketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToBasketServlet</servlet-name>
    <url-pattern>/Basket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValiderCommandeServlet</display-name>
    <servlet-name>ValiderCommandeServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.ValiderCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderCommandeServlet</servlet-name>
    <url-pattern>/ValiderCommandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeBasketServlet</display-name>
    <servlet-name>ChangeBasketServlet</servlet-name>
    <servlet-class>fr.eilco.servlet.ChangeBasketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBasketServlet</servlet-name>
    <url-pattern>/ChangeQuantityServlet</url-pattern>
  </servlet-mapping>
</web-app>